# stub JWT key
export JWT_KEY=OuioICBdLTcxtIJRJojP2EtmmoUraDO3xkSDRciNO2E72ikef/5QkmHGhgVL17XnelyPIJbhwaWYaS023oXVYs4vyPsbDov0en20o9UGfqB96P6+6UxW9yPCVcUdpl
export GRAPHQL_URL=http://localhost:8080/v1/graphql
export FUNCTION_URL=http://example.invalid
export DEBUG=1
